/*

github.hljs-com style (c) Vasily Polovnyov <vast@whiteants.hljs-net>

*/

.reveal pre code {
    display: block;
    color: #000;
    background: #f8f8ff
}

.reveal pre .hljs-comment, .reveal pre .hljs-template_comment, .reveal pre .hljs-diff .hljs-header, .reveal pre .hljs-javadoc {
    color: #998;
    font-style: italic
}

.reveal pre .hljs-keyword, .reveal pre .hljs-css .hljs-rule .hljs-keyword, .reveal pre .hljs-winutils, .reveal pre .hljs-javascript .hljs-title, .reveal pre .hljs-lisp .hljs-title, .reveal pre .hljs-subst {
    color: #000;
    font-weight: bold
}

.reveal pre .hljs-number, .reveal pre .hljs-hexcolor {
    color: #40a070
}

.reveal pre .hljs-string, .reveal pre .hljs-attribute .hljs-value, .reveal pre .hljs-phpdoc {
    color: #d14
}

.reveal pre .hljs-title, .reveal pre .hljs-id {
    color: #900;
    font-weight: bold
}

.reveal pre .hljs-javascript .hljs-title, .reveal pre .hljs-lisp .hljs-title, .reveal pre .hljs-subst {
    font-weight: normal
}

.reveal pre .hljs-class .hljs-title {
    color: #458;
    font-weight: bold
}

.reveal pre .hljs-tag, .reveal pre .hljs-css .hljs-keyword, .reveal pre .hljs-html .hljs-keyword, .reveal pre .hljs-tag .hljs-title, .reveal pre .hljs-django .hljs-tag .hljs-keyword {
    color: #000080;
    font-weight: normal
}

.reveal pre .hljs-attribute, .reveal pre .hljs-variable, .reveal pre .hljs-instancevar, .reveal pre .hljs-lisp .hljs-body {
    color: #008080
}

.reveal pre .hljs-regexp {
    color: #009926
}

.reveal pre .hljs-class {
    color: #458;
    font-weight: bold
}

.reveal pre .hljs-symbol, .reveal pre .hljs-lisp .hljs-keyword {
    color: #990073
}

.reveal pre .hljs-builtin, .reveal pre .hljs-built_in, .reveal pre .hljs-lisp .hljs-title {
    color: #0086b3
}

.reveal pre .hljs-preprocessor, .reveal pre .hljs-pi, .reveal pre .hljs-doctype, .reveal pre .hljs-shebang, .reveal pre .hljs-cdata {
    color: #999;
    font-weight: bold
}

.reveal pre .hljs-deletion {
    background: #fdd
}

.reveal pre .hljs-addition {
    background: #dfd
}

.reveal pre .hljs-diff .hljs-change {
    background: #0086b3
}

.reveal pre .hljs-chunk {
    color: #aaa
}
